<?xml version="1.0" encoding="UTF-8"?>
<AST xmlns:node="http://nikic.github.com/PHPParser/XML/node" xmlns:subNode="http://nikic.github.com/PHPParser/XML/subNode" xmlns:attribute="http://nikic.github.com/PHPParser/XML/attribute" xmlns:scalar="http://nikic.github.com/PHPParser/XML/scalar">
 <scalar:array>
  <node:Stmt_Class>
   <attribute:comments>
    <scalar:array>
     <comment isDocComment="true" line="3">/**
 * Swift Mailer Mapper for Event Listeners
 * Please read the LICENSE file
 * @copyright Chris Corbyn &lt;chris@w3style.co.uk&gt;
 * @author Chris Corbyn &lt;chris@w3style.co.uk&gt;
 * @package Swift_Events
 * @license GNU Lesser General Public License
 */</comment>
     <comment isDocComment="true" line="12">/**
 * Maps event listener names to the methods they implement
 * @package Swift_Events
 * @author Chris Corbyn &lt;chris@w3style.co.uk&gt;
 */</comment>
    </scalar:array>
   </attribute:comments>
   <attribute:startLine>
    <scalar:int>17</scalar:int>
   </attribute:startLine>
   <attribute:endLine>
    <scalar:int>47</scalar:int>
   </attribute:endLine>
   <subNode:type>
    <scalar:int>0</scalar:int>
   </subNode:type>
   <subNode:extends>
    <scalar:null/>
   </subNode:extends>
   <subNode:implements>
    <scalar:array/>
   </subNode:implements>
   <subNode:stmts>
    <scalar:array>
     <node:Stmt_ClassMethod>
      <attribute:comments>
       <scalar:array>
        <comment isDocComment="true" line="19">/**
   * Get the mapped names (Class =&gt; Method(s))
   * @return array
   */</comment>
       </scalar:array>
      </attribute:comments>
      <attribute:startLine>
       <scalar:int>23</scalar:int>
      </attribute:startLine>
      <attribute:endLine>
       <scalar:int>35</scalar:int>
      </attribute:endLine>
      <subNode:type>
       <scalar:int>9</scalar:int>
      </subNode:type>
      <subNode:byRef>
       <scalar:false/>
      </subNode:byRef>
      <subNode:params>
       <scalar:array/>
      </subNode:params>
      <subNode:stmts>
       <scalar:array>
        <node:Expr_Assign>
         <attribute:startLine>
          <scalar:int>25</scalar:int>
         </attribute:startLine>
         <attribute:endLine>
          <scalar:int>33</scalar:int>
         </attribute:endLine>
         <subNode:var>
          <node:Expr_Variable>
           <attribute:startLine>
            <scalar:int>25</scalar:int>
           </attribute:startLine>
           <attribute:endLine>
            <scalar:int>25</scalar:int>
           </attribute:endLine>
           <subNode:name>
            <scalar:string>map</scalar:string>
           </subNode:name>
          </node:Expr_Variable>
         </subNode:var>
         <subNode:expr>
          <node:Expr_Array>
           <attribute:startLine>
            <scalar:int>25</scalar:int>
           </attribute:startLine>
           <attribute:endLine>
            <scalar:int>33</scalar:int>
           </attribute:endLine>
           <subNode:items>
            <scalar:array>
             <node:Expr_ArrayItem>
              <attribute:startLine>
               <scalar:int>26</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>26</scalar:int>
              </attribute:endLine>
              <subNode:key>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>26</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>26</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>SendListener</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:key>
              <subNode:value>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>26</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>26</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>sendPerformed</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:value>
              <subNode:byRef>
               <scalar:false/>
              </subNode:byRef>
             </node:Expr_ArrayItem>
             <node:Expr_ArrayItem>
              <attribute:startLine>
               <scalar:int>27</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>27</scalar:int>
              </attribute:endLine>
              <subNode:key>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>27</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>27</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>BeforeSendListener</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:key>
              <subNode:value>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>27</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>27</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>beforeSendPerformed</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:value>
              <subNode:byRef>
               <scalar:false/>
              </subNode:byRef>
             </node:Expr_ArrayItem>
             <node:Expr_ArrayItem>
              <attribute:startLine>
               <scalar:int>28</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>28</scalar:int>
              </attribute:endLine>
              <subNode:key>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>28</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>28</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>CommandListener</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:key>
              <subNode:value>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>28</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>28</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>commandSent</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:value>
              <subNode:byRef>
               <scalar:false/>
              </subNode:byRef>
             </node:Expr_ArrayItem>
             <node:Expr_ArrayItem>
              <attribute:startLine>
               <scalar:int>29</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>29</scalar:int>
              </attribute:endLine>
              <subNode:key>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>29</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>29</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>BeforeCommandListener</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:key>
              <subNode:value>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>29</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>29</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>beforeCommandSent</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:value>
              <subNode:byRef>
               <scalar:false/>
              </subNode:byRef>
             </node:Expr_ArrayItem>
             <node:Expr_ArrayItem>
              <attribute:startLine>
               <scalar:int>30</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>30</scalar:int>
              </attribute:endLine>
              <subNode:key>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>30</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>30</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>ResponseListener</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:key>
              <subNode:value>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>30</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>30</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>responseReceived</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:value>
              <subNode:byRef>
               <scalar:false/>
              </subNode:byRef>
             </node:Expr_ArrayItem>
             <node:Expr_ArrayItem>
              <attribute:startLine>
               <scalar:int>31</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>31</scalar:int>
              </attribute:endLine>
              <subNode:key>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>31</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>31</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>ConnectListener</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:key>
              <subNode:value>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>31</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>31</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>connectPerformed</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:value>
              <subNode:byRef>
               <scalar:false/>
              </subNode:byRef>
             </node:Expr_ArrayItem>
             <node:Expr_ArrayItem>
              <attribute:startLine>
               <scalar:int>32</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>32</scalar:int>
              </attribute:endLine>
              <subNode:key>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>32</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>32</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>DisconnectListener</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:key>
              <subNode:value>
               <node:Scalar_String>
                <attribute:startLine>
                 <scalar:int>32</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>32</scalar:int>
                </attribute:endLine>
                <subNode:value>
                 <scalar:string>disconnectPerformed</scalar:string>
                </subNode:value>
               </node:Scalar_String>
              </subNode:value>
              <subNode:byRef>
               <scalar:false/>
              </subNode:byRef>
             </node:Expr_ArrayItem>
            </scalar:array>
           </subNode:items>
          </node:Expr_Array>
         </subNode:expr>
        </node:Expr_Assign>
        <node:Stmt_Return>
         <attribute:startLine>
          <scalar:int>34</scalar:int>
         </attribute:startLine>
         <attribute:endLine>
          <scalar:int>34</scalar:int>
         </attribute:endLine>
         <subNode:expr>
          <node:Expr_Variable>
           <attribute:startLine>
            <scalar:int>34</scalar:int>
           </attribute:startLine>
           <attribute:endLine>
            <scalar:int>34</scalar:int>
           </attribute:endLine>
           <subNode:name>
            <scalar:string>map</scalar:string>
           </subNode:name>
          </node:Expr_Variable>
         </subNode:expr>
        </node:Stmt_Return>
       </scalar:array>
      </subNode:stmts>
      <subNode:name>
       <scalar:string>getMap</scalar:string>
      </subNode:name>
     </node:Stmt_ClassMethod>
     <node:Stmt_ClassMethod>
      <attribute:comments>
       <scalar:array>
        <comment isDocComment="true" line="37">/**
   * Get the name of the method which needs running based upon the listener name
   * @return string
   */</comment>
       </scalar:array>
      </attribute:comments>
      <attribute:startLine>
       <scalar:int>41</scalar:int>
      </attribute:startLine>
      <attribute:endLine>
       <scalar:int>46</scalar:int>
      </attribute:endLine>
      <subNode:type>
       <scalar:int>9</scalar:int>
      </subNode:type>
      <subNode:byRef>
       <scalar:false/>
      </subNode:byRef>
      <subNode:params>
       <scalar:array>
        <node:Param>
         <attribute:startLine>
          <scalar:int>41</scalar:int>
         </attribute:startLine>
         <attribute:endLine>
          <scalar:int>41</scalar:int>
         </attribute:endLine>
         <subNode:name>
          <scalar:string>listener</scalar:string>
         </subNode:name>
         <subNode:default>
          <scalar:null/>
         </subNode:default>
         <subNode:type>
          <scalar:null/>
         </subNode:type>
         <subNode:byRef>
          <scalar:false/>
         </subNode:byRef>
        </node:Param>
       </scalar:array>
      </subNode:params>
      <subNode:stmts>
       <scalar:array>
        <node:Expr_Assign>
         <attribute:startLine>
          <scalar:int>43</scalar:int>
         </attribute:startLine>
         <attribute:endLine>
          <scalar:int>43</scalar:int>
         </attribute:endLine>
         <subNode:var>
          <node:Expr_Variable>
           <attribute:startLine>
            <scalar:int>43</scalar:int>
           </attribute:startLine>
           <attribute:endLine>
            <scalar:int>43</scalar:int>
           </attribute:endLine>
           <subNode:name>
            <scalar:string>map</scalar:string>
           </subNode:name>
          </node:Expr_Variable>
         </subNode:var>
         <subNode:expr>
          <node:Expr_StaticCall>
           <attribute:startLine>
            <scalar:int>43</scalar:int>
           </attribute:startLine>
           <attribute:endLine>
            <scalar:int>43</scalar:int>
           </attribute:endLine>
           <subNode:class>
            <node:Name>
             <attribute:startLine>
              <scalar:int>43</scalar:int>
             </attribute:startLine>
             <attribute:endLine>
              <scalar:int>43</scalar:int>
             </attribute:endLine>
             <subNode:parts>
              <scalar:array>
               <scalar:string>self</scalar:string>
              </scalar:array>
             </subNode:parts>
            </node:Name>
           </subNode:class>
           <subNode:name>
            <scalar:string>getMap</scalar:string>
           </subNode:name>
           <subNode:args>
            <scalar:array/>
           </subNode:args>
          </node:Expr_StaticCall>
         </subNode:expr>
        </node:Expr_Assign>
        <node:Stmt_If>
         <attribute:startLine>
          <scalar:int>44</scalar:int>
         </attribute:startLine>
         <attribute:endLine>
          <scalar:int>45</scalar:int>
         </attribute:endLine>
         <subNode:stmts>
          <scalar:array>
           <node:Stmt_Return>
            <attribute:startLine>
             <scalar:int>44</scalar:int>
            </attribute:startLine>
            <attribute:endLine>
             <scalar:int>44</scalar:int>
            </attribute:endLine>
            <subNode:expr>
             <node:Expr_ArrayDimFetch>
              <attribute:startLine>
               <scalar:int>44</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>44</scalar:int>
              </attribute:endLine>
              <subNode:var>
               <node:Expr_Variable>
                <attribute:startLine>
                 <scalar:int>44</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>44</scalar:int>
                </attribute:endLine>
                <subNode:name>
                 <scalar:string>map</scalar:string>
                </subNode:name>
               </node:Expr_Variable>
              </subNode:var>
              <subNode:dim>
               <node:Expr_Variable>
                <attribute:startLine>
                 <scalar:int>44</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>44</scalar:int>
                </attribute:endLine>
                <subNode:name>
                 <scalar:string>listener</scalar:string>
                </subNode:name>
               </node:Expr_Variable>
              </subNode:dim>
             </node:Expr_ArrayDimFetch>
            </subNode:expr>
           </node:Stmt_Return>
          </scalar:array>
         </subNode:stmts>
         <subNode:elseifs>
          <scalar:array/>
         </subNode:elseifs>
         <subNode:else>
          <node:Stmt_Else>
           <attribute:startLine>
            <scalar:int>45</scalar:int>
           </attribute:startLine>
           <attribute:endLine>
            <scalar:int>45</scalar:int>
           </attribute:endLine>
           <subNode:stmts>
            <scalar:array>
             <node:Stmt_Return>
              <attribute:startLine>
               <scalar:int>45</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>45</scalar:int>
              </attribute:endLine>
              <subNode:expr>
               <node:Expr_ConstFetch>
                <attribute:startLine>
                 <scalar:int>45</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>45</scalar:int>
                </attribute:endLine>
                <subNode:name>
                 <node:Name>
                  <attribute:startLine>
                   <scalar:int>45</scalar:int>
                  </attribute:startLine>
                  <attribute:endLine>
                   <scalar:int>45</scalar:int>
                  </attribute:endLine>
                  <subNode:parts>
                   <scalar:array>
                    <scalar:string>false</scalar:string>
                   </scalar:array>
                  </subNode:parts>
                 </node:Name>
                </subNode:name>
               </node:Expr_ConstFetch>
              </subNode:expr>
             </node:Stmt_Return>
            </scalar:array>
           </subNode:stmts>
          </node:Stmt_Else>
         </subNode:else>
         <subNode:cond>
          <node:Expr_Isset>
           <attribute:startLine>
            <scalar:int>44</scalar:int>
           </attribute:startLine>
           <attribute:endLine>
            <scalar:int>44</scalar:int>
           </attribute:endLine>
           <subNode:vars>
            <scalar:array>
             <node:Expr_ArrayDimFetch>
              <attribute:startLine>
               <scalar:int>44</scalar:int>
              </attribute:startLine>
              <attribute:endLine>
               <scalar:int>44</scalar:int>
              </attribute:endLine>
              <subNode:var>
               <node:Expr_Variable>
                <attribute:startLine>
                 <scalar:int>44</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>44</scalar:int>
                </attribute:endLine>
                <subNode:name>
                 <scalar:string>map</scalar:string>
                </subNode:name>
               </node:Expr_Variable>
              </subNode:var>
              <subNode:dim>
               <node:Expr_Variable>
                <attribute:startLine>
                 <scalar:int>44</scalar:int>
                </attribute:startLine>
                <attribute:endLine>
                 <scalar:int>44</scalar:int>
                </attribute:endLine>
                <subNode:name>
                 <scalar:string>listener</scalar:string>
                </subNode:name>
               </node:Expr_Variable>
              </subNode:dim>
             </node:Expr_ArrayDimFetch>
            </scalar:array>
           </subNode:vars>
          </node:Expr_Isset>
         </subNode:cond>
        </node:Stmt_If>
       </scalar:array>
      </subNode:stmts>
      <subNode:name>
       <scalar:string>getNotifyMethod</scalar:string>
      </subNode:name>
     </node:Stmt_ClassMethod>
    </scalar:array>
   </subNode:stmts>
   <subNode:name>
    <scalar:string>Swift_Events_ListenerMapper</scalar:string>
   </subNode:name>
   <subNode:namespacedName>
    <node:Name>
     <attribute:comments>
      <scalar:array>
       <comment isDocComment="true" line="3">/**
 * Swift Mailer Mapper for Event Listeners
 * Please read the LICENSE file
 * @copyright Chris Corbyn &lt;chris@w3style.co.uk&gt;
 * @author Chris Corbyn &lt;chris@w3style.co.uk&gt;
 * @package Swift_Events
 * @license GNU Lesser General Public License
 */</comment>
       <comment isDocComment="true" line="12">/**
 * Maps event listener names to the methods they implement
 * @package Swift_Events
 * @author Chris Corbyn &lt;chris@w3style.co.uk&gt;
 */</comment>
      </scalar:array>
     </attribute:comments>
     <attribute:startLine>
      <scalar:int>17</scalar:int>
     </attribute:startLine>
     <attribute:endLine>
      <scalar:int>47</scalar:int>
     </attribute:endLine>
     <subNode:parts>
      <scalar:array>
       <scalar:string>Swift_Events_ListenerMapper</scalar:string>
      </scalar:array>
     </subNode:parts>
    </node:Name>
   </subNode:namespacedName>
  </node:Stmt_Class>
 </scalar:array>
</AST>
